<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.crm.mapper.DepartmentMapper">
	<!-- ======================================增删改查====================================== -->
	 <insert id="insert" parameterType="Department">
	 	insert into t_department(sn,name,dirPath,state,manager_id,parent_id)
	 		value(#{sn},#{name},#{dirPath},#{state},#{manager.id},#{parent.id});
	 </insert>
	 
	 <delete id="delete" parameterType="long">
	 	delete from t_department 
	 		where id=#{id}
	 </delete>
	 
	 <update id="update" parameterType="Department">
	 	update t_department 
	 		set sn=#{sn},name=#{name},dirPath=#{dirPath},state=#{state},manager_id=#{manager.id},parent_id=#{parent.id}
	 			where id=#{id}
	 </update>
	 
	 <select id="get" parameterType="long" resultType="Department">
	 	select id,sn,name,dirPath,state,manager_id,parent_id from t_department 
	 		where id=#{id}
	 </select>
	 
	 <select id="getAll" resultType="Department">
	 	select id,sn,name,dirPath,state,manager_id,parent_id from t_department
	 </select>
	 
	 <select id="findCountByQuery" resultType="int">
	 	select count(id) from t_department 
	 		<include refid="whereSql"/>
	 </select>
	 
	 <select id="findByQuery" parameterType="DepartmentQuery" resultMap="departmentResultMap">
	 	select d.id,d.sn,d.name,d.dirPath,d.state,p.id pid,p.name pname,e.id eid,e.realName rname from t_department d
	 		left join t_department p on d.parent_id=p.id
	 			left join t_employee e on d.manager_id=e.id
	 				<include refid="whereSql"/>
	 					limit #{startIndex},#{pageSize}
	 </select>
	 
	 <resultMap type="Department" id="departmentResultMap">
	 	<id property="id" column="id" />
	 	<result property="sn" column="sn"/>
	 	<result property="name" column="name"/>
	 	<result property="dirPath" column="dirPath"/>
	 	<result property="state" column="state"/>
	 	<association property="parent" column="parent_id" javaType="Department">
	 		<id property="id" column="pid"/>
	 		<result property="name" column="pname"/>
	 	</association>
	 	<association property="manager" column="manager_id" javaType="Employee">
	 		<id property="id" column="eid"/>
	 		<result property="realName" column="rname"/>
	 	</association>
	 </resultMap>
	 
	 <sql id="whereSql">
	 	<where>
	 		<if test="q!=null and q!=''">
	 			sn like concat('%',#{q},'%') or name like concat('%',#{q},'%')
	 		</if>
	 	</where>
	 </sql>
	 
	 <select id="getDepartmentTreeData" resultMap="departmentTreeResultMap">
	 	select d.id,d.name,c.id cid,c.name cname from t_department d 
	 		left join t_department c on d.id=c.parent_id
	 			where d.parent_id is null
	 				order by d.id
	 </select>
	 
	 <resultMap type="Department" id="departmentTreeResultMap">
	 	<id property="id" column="id"/>
	 	<result property="name" column="name"/>
	 	<collection property="children" javaType="arrayList" ofType="Department">
	 		<id property="id" column="cid"/>
	 		<result property="name" column="cname"/>
	 	</collection>
	 </resultMap>
	 
</mapper> 